<%- include("../../partials/nav-bar.ejs") %>
<section id="characterProfile">    
    <div id="stats">    
        <h1 id="characterName"><%=profile.username%></h1>
        <p>Race: <%=profile.character[0].race%></p>
        <p>Souls: <%=profile.character[0].souls%></p>
        <div>
            Equipped:
            <ul>
                <li>Weapon:</li>
                <% if (character.weapon.length) { %>
                <ul>
                    <li>Name: <%=character.weapon[0].name%></li>
                    <li>Damage: <%=character.weapon[0].damage%></li>
                    <li>Type: <%=character.weapon[0].type%></li>
                    <li>Value: <%=character.weapon[0].value%> Souls</li>
                </ul>
                <% } %>
                <li>Armor: <%=profile.character[0].armor%></li>
                <li>Artefact: <%=profile.character[0].artefact%></li>
            </ul>
        </div>
    </div>
    <% if (profile.character[0].race === "Human") { %>
        <iframe class="characterFrame" width="800" height="800" src="https://my.spline.design/untitled-efbebd8fdddb4af99ddc732238ccbb9e/"></iframe>     
    <% } %>
    <% if (profile.character[0].race === "Undead") { %>
        <iframe class="characterFrame" width="800" height="800" src="https://my.spline.design/untitled-b2f04639964593eed26a81fa8a9823c4/"></iframe>     
    <% } %>
    <% if (profile.character[0].race === "Dino") { %>
        <iframe class="characterFrame" width="800" height="800" src="https://my.spline.design/untitled-4b790425ef4f04c074add4bb192060c1/"></iframe>     
    <% } %>
    <div id="inventory">
        <h1>Inventory</h1>
        <% character.inventory.forEach((item) => { %>
            <div>Name: <%=item.name%></div>
            <div>Type: <%=item.type%></div>
            <div>Damage: <%=item.damage%></div>
            <div>For: <%=item.race%></div>
            <div>Value: <%=item.value%></div>
            <form action="/equipment/equipItem/<%=character._id%>/<%=item._id%>/<%=item.equip%>/<%=item.invIndex%>" method="POST">
                <button type="submit">Equip</button>
            </form>
            <form action="/equipment/sellItem/<%=character._id%>/<%=item._id%>/<%=item.equip%>/<%=item.invIndex%>" method="POST">
                <button type="submit">Sell</button>
            </form>
            <br>
            <% }) %>
        <form action="/equipment/test/<%=character._id%>" method="POST">
            <button type="submit">DELETE INVENTORY</button>
        </form>

    </div>
</section>