<%- include("../../partials/nav-bar.ejs") %>
<h1>Hello</h1>
<%=profile.username%>
<%=profile.character[0].race%>
<%=profile.character[0].weapon%>
<%=profile.character[0].armor%>
<%=profile.character[0].artifact%>
<%=profile.character[0].souls%>