<%- include("../../partials/nav-bar.ejs") %>
<section id="characterProfile">    
    <div id="stats"> 
        <div>  
        <div>
        <h1 id="characterName"><%=profile.username%></h1>
        <p id="characterRace">The <%=profile.character[0].race%></p> 
        <p>Souls: <%=profile.character[0].souls%></p> 
        </div>
        
<div >   
            
        <div id="equipmentCards">

            <div class="itemTable">       
            <ul class="removeListStyle">
                <!-- <li id="equipment">Equipment</li> -->

                <% if (character.weapon.length) { %>
                <ul class="removeListStyle allignList">
                    <li><img class="itemImage" src="<%=character.weapon[0].image%>" width="130px"></li>
                    <div class="weaponStats">                   
                    <li class="itemName"><%=character.weapon[0].name%></li>
                        <div class="inlineStats">
                            <!-- <li><%=character.weapon[0].type%></li> -->
                            <li>⚔️ <%=character.weapon[0].damage%></li>
                            <li>👻 <%=character.weapon[0].value%></li>
                        </div>
                    </div> 
                </ul>
                <% } %>
            </div> 
            
            <div class="itemTable">       
                <ul class="removeListStyle">
                    <!-- <li id="equipment">Equipment</li> -->
    
                    <% if (character.armor.length) { %>
                    <ul class="removeListStyle allignList">
                        <li><img class="itemImage" src="<%=character.armor[0].image%>" width="130px"></li>
                        <div class="weaponStats">                   
                        <li class="itemName"><%=character.armor[0].name%></li>
                            <div class="inlineStats">
                                <!-- <li><%=character.armor[0].type%></li> -->
                                <li>⚔️ <%=character.armor[0].protection%></li>
                                <li>👻 <%=character.armor[0].value%></li>
                            </div>
                        </div> 
                    </ul>
                    <% } %>
                </div>                     
               
           
        </div>
                <!-- <li>Armor: <%=profile.character[0].armor%></li>
                <li>Artefact: <%=profile.character[0].artefact%></li> -->                
            </ul>
</div>
    </div>


    

    


    <% if (profile.character[0].race === "Human") { %>
        <iframe class="characterFrame" width="800" height="800" src="https://my.spline.design/untitled-efbebd8fdddb4af99ddc732238ccbb9e/"></iframe>     
    <% } %>
    <% if (profile.character[0].race === "Undead") { %>
        <iframe class="characterFrame" width="800" height="800" src="https://my.spline.design/untitled-b2f04639964593eed26a81fa8a9823c4/"></iframe>     
    <% } %>
    <% if (profile.character[0].race === "Dino") { %>
        <iframe class="characterFrame" width="800" height="800" src="https://my.spline.design/untitled-4b790425ef4f04c074add4bb192060c1/"></iframe>     
    <% } %>
    <div id="inventory">
        <h1>Inventory</h1>
        <% character.inventory.forEach((item) => { %>
            <div>Name: <%=item.name%></div>
            <div>Type: <%=item.type%></div>
            <div>Damage: <%=item.damage%></div>
            <div>For: <%=item.race%></div>
            <div>Value: <%=item.value%></div>
            <form action="/equipment/equipItem/<%=character._id%>/<%=item.equip%>/<%=item._id%>" method="POST">
                <button type="submit">Equip</button>
            </form>
            <form action="/equipment/sellItem/<%=character._id%>/<%=item.equip%>/<%=item._id%>" method="POST">
                <button type="submit">Sell</button>
            </form>
            <br>
        <% }) %>
    </div>
</section>