<section  id="gameSection">
<div>
<% if (session) { %> 
    <div id="sessionInProgress" style="display: block;"></div>
<% } else { %>
    <div id="sessionInProgress" style="display: none;"></div>
<% } %>

<div id="game-board" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <canvas id="canvas" width="1200" height="700"></canvas>
    <progress id="health" value="100" max="100"></progress>
    <img src="../../images/Races/Dino/dino.png" alt="dino" id="dino"/>
    <img src="../../images/Races/Human/human.png" alt="human" id="human"/>
    <img src="../../images/Meadow/Slime/slime.png" alt="slime" id="slime"/>
    <img src="../../images/Meadow/SlimeBoss/slimeBoss.png" alt="slimeBoss" id="slimeBoss"/>
    <img src="../../images/Dungeon/Bat/bat.png" alt="bat" id="bat"/>
    <img src="../../images/Projectiles/weakFire.png" alt="enemyProjectileFire" id="enemyProjectileFire"/>
    <img src="../../images/Dungeon/Ecrol/ecrol0.png" alt="ecrol" id="ecrol0"/>
    <img src="../../images/Dungeon/Ecrol/ecrol1.png" alt="ecrol" id="ecrol1"/>
    <img src="../../images/Dungeon/Ecrol/ecrol2.png" alt="ecrol" id="ecrol2"/>
    <img src="../../images/Dungeon/Ecrol/ecrol3.png" alt="ecrol" id="ecrol3"/>
</div>  

</div> 
<div class="mapCard">
    <div class="inGameStats">
        <!-- Character -->
        <% if (session && sessionRace2.character[0].race === "Dino") { %>
            <div id="dinoSelect" style="display: block;"></div>
        <% } else { %>
            <div id="dinoSelect" style="display: none;"></div>
        <% } %> 
        
        <% if (session && sessionRace2.character[0].race === "Undead") { %>
            <div id="undeadSelect" style="display: block;"></div>
        <% } else { %>
            <div id="undeadSelect" style="display: none;"></div>
        <% } %>
        
        <% if (session && sessionRace2.character[0].race === "Human") { %>
            <div id="humanSelect" style="display: block;"></div>
        <% } else { %>
            <div id="humanSelect" style="display: none;"></div>
        <% } %>
            
        
        <!-- Weapons -->
        <% if (session && character.weapon.length) { %>
            <div id="noWeapon" style="display: block;"></div>
            <div id="weaponname" class="buttonItem widerButton ultraWideButton" ><%=character.weapon[0].name%> 
                <div style="display: flex; gap: 10px; justify-content: center;">
                    <p id="damage"><%=character.weapon[0].modifier%></p>
                    <p>+</p>
                    <p id="level"><%=character.level%></p>
                </div>
                <img src="<%=character.weapon[0].image%>" width="90px">
            </div>
            
        <% } else { %>
            <div id="noWeapon" style="display: none;"></div>
        <% } %>
        
        <!-- Armor -->
        <% if (session && character.armor.length) { %>
            <div id="noArmor" style="display: block;"></div>
            <div id="armorname" class="buttonItem widerButton ultraWideButton"><%=character.armor[0].name%>
                <p id="defense">+<%=character.armor[0].modifier%></p>
                <img src="<%=character.armor[0].image%>" width="90px">
            </div>
        <% } else { %>
            <div id="noArmor" style="display: none;"></div>
        <% } %>
        
        <!-- Artefact -->
        <% if (session && character.artefact.length > 0) { %>
            <div id="noArtefact" style="display: block;"></div>
            <div id="artefactname"><%=character.artefact[0].name%></div>
            <div id="artefactmodifier"><%=character.artefact[0].modifier%></div>
        <% } else { %>
            <div id="noArtefact" style="display: none;"></div>
        <% } %>
        
        <!-- Souls / XP Save -->    
        <form method="POST" action="/user/<%=sessionRace2.character[0]._id%>/game">
            <% if (session) { %>      
            <div class="buttonItem widerButton ultraWideButton"  id="armorname">
                <label>Souls: <input class="buttonUnformat statsInGame" id="souls" style="display: block;" name="souls" type="number" value="<%=sessionRace2.character[0].souls%>" readonly></input></label>
                <br>
                <label>XP: <input class="buttonUnformat statsInGame" id="experience" style="display: block;" name="experience" type="number" value="<%=sessionRace2.character[0].experience%>" readonly></input></label> 
            </div> 
            <% } %></p>
            <button id="saveGameButton" type="submit" style="display: none;">Save</button>
        </form>
        
        </div>
        
        <div id="meadowMap">
            <h1 class="mapTitle">Meadow</h1>
            <iframe class="mapFrame" width="700" height="500" src="https://my.spline.design/untitled-9beec2002796a691af5bd25120f128c7/"></iframe>  
        </div>

        <div id="caveMap">
            <h1 class="mapTitle">Cave</h1>
            <iframe class="mapFrame" width="700" height="500" src="https://my.spline.design/untitledcopy-b8995cbe53228ac42c6fcc9327e03aed/"></iframe>  
        </div>

    </div>

</section>
