<%- include("../../partials/nav-bar.ejs") %>
<h1>Profile</h1>
<h2>Details</h2>
<div>
    <div>Username: <%-profile.username%> </div>
    <div>Email: <%-profile.email%> </div>
    <form action="/user/profile-update" method="GET">
        <button type="submit">Change Details</button>
    </form>
</div>

<% if (sessionRace.length) { %>
    <%=profile.username%>
    <%=profile.character[0].race%>
    <%=profile.character[0].weapon%>
    <%=profile.character[0].armor%>
    <%=profile.character[0].artifact%>
    <%=profile.character[0].souls%>
    <% } %>

