<%- include("../../partials/nav-bar.ejs") %>
<h1>Profile</h1>
<% if (sessionRace.length) { %>
    <h2>Your Character</h2> 
    <div>
        <p>Name: <%=profile.username%></p>
        <p>Race: <%=profile.character[0].race%></p>
        <p>Weapon: <%=profile.character[0].weapon%></p>
        <p>Armor: <%=profile.character[0].armor%></p>
        <p>Artifact: <%=profile.character[0].artifact%></p>
        <p>Souls: <%=profile.character[0].souls%></p>
    </div>
<% } %>
<hr/>
<h2>Account Details</h2>
<div>
    <div>Username: <%-profile.username%> </div>
    <div>Email: <%-profile.email%> </div>
    <form action="/user/profile-update" method="GET">
        <button type="submit">Change Details</button>
    </form>
</div>


