<%- include("../../partials/nav-bar.ejs") %>

<section id="shopGeneral">    
        <div>
            <h1>Soulkeeper</h1> 
            <br>
            <div>ðŸ‘» <%=character.souls%></div>            
            <div class="soulsDisplay">Capacity <%=character.inventory.length%> / 6</div>
            <br>
            <%- include("../../partials/inventory-display.ejs") %>
        </div>
        </div>

        <div>
            <div>
                <!-- <h2>Soulkeeper is hard at work ...</h2>
                <div>Do you wish to spend your souls for rewards?</div> -->
                <!-- <input type="number" name="availableSouls" value="<%=character.souls%>" style="display: none" /> -->                
            </div>            

            <div class="cardPacks">

                <div id="basicPack" style="display: block;">
                <form action="/equipment/generateWeapon/<%=character._id%>" method="POST" style="display: flex; flex-direction: column; align-items: center;">
                    <iframe  class="pack packQuery" src="https://my.spline.design/basicpackcopy-256eb5e9758011142a1b22958c1ec751/"></iframe>  

            <div class="soulkeeperPack">
                <input class="buttonItem widerButton packTitleButton" type="submit" name="name" value="Standard Pack" readonly />
                <input class="buttonItem widerButton cardPrice buyPack" type="number" name="price" value="10" readonly/>ðŸ‘»
                <input class="buttonItem widerButton cardPrice" type="button" name="answer" onclick="ShowMedium()" value=">"/>    
            </div>    
                
            </form>
        </div>

        <div id="mediumPack" style="display: block;">
        <form action="/equipment/generateWeapon/<%=character._id%>" method="POST" style="display: flex; flex-direction: column; align-items: center;">               
            <iframe  class="pack packQuery" src="https://my.spline.design/basicpackcopy-256eb5e9758011142a1b22958c1ec751/"></iframe>

        <div class="soulkeeperPack">
                <input class="buttonItem widerButton packTitleButton" type="submit"" name="name" value="Medium Pack" readonly />
                <input class="buttonItem widerButton cardPrice buyPack" type="number" name="price" value="50" readonly/>ðŸ‘» 
                <input class="buttonItem widerButton cardPrice" type="button" name="answer" onclick="ShowBasic()"  value="<" />   
                <input class="buttonItem widerButton cardPrice" type="button" name="answer" onclick="ShowLegendary()" value=">"/> 
        </div>         
            </form>
        </div>

        <div id="legendaryPack" style="display: block;">
        <form action="/equipment/generateWeapon/<%=character._id%>" method="POST" style="display: flex; flex-direction: column; align-items: center;">                      
            <iframe  class="pack packQuery" src="https://my.spline.design/basicpackcopy-d1e17c843ca542f6588e4e5b60a12aac/"></iframe>

            <div class="soulkeeperPack">
                <input class="buttonItem widerButton packTitleButton" type="submit" name="name" value="Legendary Pack" readonly />
                <input class="buttonItem widerButton cardPrice buyPack" type="number" name="price" value="500" readonly/>ðŸ‘»   
                <input class="buttonItem widerButton cardPrice" type="button" name="answer" onclick="ShowMedium()" value="<"/>    
            </div>        
            </form>
        </div>

            </div>

            
            <% if (errorMessage !== "") { %>
                <div class="display-error-message centralize"><%=errorMessage%></div>
            <% } %>
            </div>

            <!-- <div>
                <input type="button" name="answer" onclick="ShowBasic()"  value="â¤ï¸" />
                <input type="button" name="answer" onclick="ShowMedium()" value="â¤ï¸"/>
                <input type="button" name="answer" onclick="ShowLegendary()" value="â¤ï¸"/>
            </div> -->
</section>