<%- include("../../partials/nav-bar.ejs") %>

<h1 class="centerText">Browse offers</h1>
<div class="centerText">Total Items: <%=item.length%></div>
<form action="/marketplace", method="GET">
    <button class="buttonItem btnWider" type="submit">Back</button>
</form>

<!-- Filter -->

<div>
    <form action="/marketplace/browse-offers/" method="GET">
 
        <label><input type="checkbox" name="hello">Hello</label>
        <label><input type="checkbox" name="hello2">Hello</label>
        <button type="submit">Filter</button>
    </form>
</div>

<div id="marketAlign">
    <div id="marketplaceItems">
    <% item.forEach(item => { %>
        <div class="itemTable">       
            <ul class="removeListStyle">
                <!-- <li id="equipment">Equipment</li> -->
                <ul class="removeListStyle allignList">
                    <div class="weaponStats">           
                    <li><%=item.item.name%></li>                         
                        <div class="inlineStats">   
                            <li>⚔️ <%=item.item.modifier%></li>
                            <li>👻 <%=item.price%></li>
                        </div>
                    </div> 
                    <li><img class="itemImage" src="../<%=item.item.image%>" width="130px"></li>
                </ul>
                <% if (JSON.stringify(item.owner._id) === `"${sessionRace[0].charId}"`) {%>
                    <form action="/marketplace/remove-offer/<%=item._id%>/<%=item.item._id%>" method="POST">
                        <button class="buttonItem btnWider" type="submit">Withdraw offer</button>
                    </form>
                    <div style="color: green;">Your Offer</div>
                <% } else { %>
                    <form action="/marketplace/buy-item/<%=item._id%>/<%=item.item._id%>/<%=item.owner._id%>" method="POST">
                        <button class="buttonItem btnWider" type="submit">Buy item</button>
                    </form>
                <% }  %>
            </ul>
        </div> 
    <% }) %>
    </div>
</div>
<% if (errorMessage !== "") { %>
    <div class="display-error-message centralize"><%=errorMessage%></div>
<% } %>